@page
@model ERP.Pages.RRHH.RegistrarEmpleadoModel
@{
    var fechaHoyH = Model.fechaHoy.ToString("yyyy-MM-dd");
    Layout = "_LayoutRRHH";
}

<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 70vh;
        margin-top: 80px;
    }

    .campoGrande {
        width: 700px; /* Ajusta el ancho */
        height: 75px; /* Ajusta la altura */
        color: #ffffff;
        /*font-size: 18px;*/
        padding: 5px 10px;
        margin-right: 15px;
        /*margin-left: 15px;*/
        margin-bottom: 10px;
        background: none;
        background-image: none;
        border: 1px solid #a0b3b0;
        border-radius: 0;
        transition: border-color .25s ease, box-shadow .25s;
    }

     form{
        background: rgba(19, 35, 47,.9);
        padding: 40px;
        border-radius: 4px;
        margin: 40px auto;
        box-shadow: 0 4px 10px 4px rgba(19, 35, 47,.3);

        max-width: 980px; 
        width: 90%; 
       
    }

    h1 {
        color: #ffffff;
        text-align: center;
        margin: 0 0 40px;
    }

    h2 {
        color: #ffffff;
        text-align: left;
        margin-bottom: 20px;
    }

    input {
        color: #ffffff;
        /*font-size: 18px;*/
        padding: 5px 10px;
        margin-right: 15px;
        /*margin-left: 15px;*/
        margin-bottom: 10px;
        background: none;
        background-image: none;
        border: 1px solid #a0b3b0;
        border-radius: 0;
        transition: border-color .25s ease, box-shadow .25s;
    }

    label{
        color: #ffffff;
        /*margin-right: 15px;*/
        /*margin-left: 15px;*/
        margin-bottom: 20px;
        font-size: 20px;
    }

    select {
        color: #ffffff; /* Texto en blanco para combinar */
        padding: 5px 10px; /* Igual que el input */
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 10px;
        background: none;
        border: 1px solid #a0b3b0;
        border-radius: 0;
        transition: border-color .25s ease, box-shadow .25s;
        appearance: none; /* Elimina el estilo predeterminado del navegador */
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: transparent;
    }

    option {
        color: #000000; /* Texto negro dentro de las opciones desplegadas */
        background-color: #ffffff; /* Fondo blanco para mejor contraste */
    }

    .bx{
        color: #ffffff; /* Color del ícono */
        margin-left: -1px;
    }


    .Boton{
        display: block;
        border: 0;
        outline: none;
        border-radius: 0;
        padding: 15px;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: .1em;
        background: #1ab188;
        color: #ffffff;
        transition: all.5s ease;
        -webkit-appearance: none;
         /* Establece un ancho fijo según tus necesidades */
        margin: 0 auto; /* Centra el botón */
    }

    .text_danger {
        color: red;
        font-size: 12px; /* Ajusta el tamaño del texto del error */

    }

    .input-container {
        display: flex;
        justify-content: space-between; /* Espacio entre los inputs */
    }

   .input-container div {
            display: flex;
            flex-direction: column; /* Asegura que los inputs y mensajes de error estén alineados verticalmente */
            width: 100%; /* Asegura que los divs dentro del contenedor tomen el espacio disponible */
   }

    .cedula-genero-fechaNacimiento{
        display: flex;
        gap: 20px; /* Espacio entre los elementos */
       
    }

    .input-group {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .datos-laborales {
        display: flex;
        gap: 20px; /* Espacio entre los elementos */
        margin-bottom: 20px;
    }
     
    .direccion {
        display: flex;
        gap: 20px; /* Espacio entre los elementos */
        margin-bottom: 20px;
    }

</style>
<div class="container">
    <form method="POST">
        <h1>Agregar Empleado</h1>
        <h2>Datos Personales</h2>
        <div class="input-container">
            <div>
            <input type="text" id="primerNombre" asp-for="primerNombre"  value="@Model.primerNombre" placeholder="Primer Nombre"/>
            <span asp-validation-for="primerNombre" class="text_danger"></span>
            </div>

            <div>
            <input type="text" id="segundoNombre" asp-for="segundoNombre"  value="@Model.segundoNombre" placeholder="Segundo Nombre">
            <span asp-validation-for="segundoNombre" class="text_danger"></span>
            </div>

            <div>
            <input type="text" id="primerApellido" asp-for="primerApellido"  value="@Model.primerApellido" placeholder="Primer Apellido">
            <span asp-validation-for="primerApellido" class="text_danger"></span>
            </div>
            <div>
            <input type="text" id="segundoApellido" asp-for="segundoApellido"  value="@Model.segundoApellido" placeholder="Segundo Apellido">
            <span asp-validation-for="segundoApellido" class="text_danger"></span>
            </div>

        </div>
        <br> <br />


        <div class="cedula-genero-fechaNacimiento">
            <!--Cédula, género y fechaNacimiento-->
            <div class="input-group">
                <label for="generos">Género</label>
                <select id="generos" name="generos">
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                </select>
            </div>

            <div class="input-group">
                <label for="fecha">Fecha de Nacimiento</label>
                <input type="date" id="fecha" name="fecha" value="@fechaHoyH" max="@fechaHoyH" />
            </div>

            <div class="input-group">
                <label for="cedula">Cédula</label>
                <input type="text" id="cedula" asp-for="cedula" value="@Model.cedula" placeholder="Número de Cédula">
                <span asp-validation-for="cedula" class="text_danger"></span>
            </div>
        </div>
        <br> <br />
       
        

        <!--Combobox para la dirección-->
        <h2>Dirección</h2>
        <div class="direccion">
            

            <div class="input-group">
                <label for="provincias">Provincia</label>
                <select id="provincias" name="provincias" onchange="actualizarCantones()">
                    @foreach (var provincia in Model.direccion.provincias)
                    {
                        <option value="@provincia">@provincia</option>
                    }
                </select>
            </div>

            <div class="input-group">
                <label for="cantones">Cantón</label>
                <select id="cantones" name="cantones" onchange="actualizarDistritos()">
                    @foreach (var cantonSanJose in Model.direccion.cantonesSanJose)
                    {
                        <option value="@cantonSanJose">@cantonSanJose</option>
                    }
                </select>
            </div>

            <div class="input-group">
                <label for="distritos">Distrito</label>
                <select id="distritos" name="distritos">
                    @foreach (var distritosSanJose in Model.direccion.distritosSanJose)
                    {
                        <option value="@distritosSanJose">@distritosSanJose</option>
                    }
                </select>
            </div>
        </div>



        <br> <br />
        <!--Señas exactas-->
        <textarea class="campoGrande" placeholder="Señas Exactas"></textarea>

        <!--Departamento y puesto-->
        <h2>Datos Laborales</h2>
        <div class="datos-laborales">
            

            <div class="input-group">
                <label for="departamentos">Departamento</label>
                <select id="departamentos" name="departamentos" onchange="actualizarPuestos()">
                    <option value="Recursos Humanos">Recursos Humanos</option>
                    <option value="Ventas">Ventas</option>
                    <option value="Produccion">Producción</option>
                </select>
            </div>

            <div class="input-group">
                <label for="puestos">Puesto</label>
                <select id="puestos" name="puestos">
                    @foreach (var puesto in Model.puestosRRHH)
                    {
                        <option value="@puesto">@puesto</option>
                    }
                </select>
            </div>

            <div class="input-group">
                <label for="salario">Salario</label>
                <input type="text" id="salario" asp-for="salario" value="@Model.salario" placeholder="Salario">
                <span asp-validation-for="salario" class="text_danger"></span>
            </div>
        </div>

        <!--Botón para registrar-->
        <br> <br />
        <input class="Boton" type="submit" name="Registar" value="Registrar Empleado" />
    </form>

    
</div>

<script>
    function actualizarPuestos() {
        var departamento = document.getElementById("departamentos").value;
        var puestos = document.getElementById("puestos");
        puestos.innerHTML = '';

        var listaPuestos = [];
        switch (departamento) {
            case "Recursos Humanos":
                listaPuestos = @Html.Raw(Json.Serialize(Model.puestosRRHH));
                break;
            case "Ventas":
                listaPuestos = @Html.Raw(Json.Serialize(Model.puestosVentas));
                break;
            case "Produccion":
                listaPuestos = @Html.Raw(Json.Serialize(Model.puestosProduccion));
                break;
        }

        listaPuestos.forEach(function (puesto) {
            var option = document.createElement("option");
            option.value = puesto;
            option.text = puesto;
            puestos.add(option);
        });
    }

    function actualizarCantones() {
        var provincia = document.getElementById("provincias").value;
        var cantones = document.getElementById("cantones");

        cantones.innerHTML = ''; // Se limpia el ComboBox de cantones

        var listaCantones = [];
        switch (provincia) {
            case "San José":
                listaCantones = @Html.Raw(Json.Serialize(Model.direccion.cantonesSanJose));
                break;
            case "Alajuela":
                listaCantones = @Html.Raw(Json.Serialize(Model.direccion.cantonesAlajuela));
                break;
            case "Cartago":
                listaCantones = @Html.Raw(Json.Serialize(Model.direccion.cantonesCartago));
                break;
            case "Heredia":
                listaCantones = @Html.Raw(Json.Serialize(Model.direccion.cantonesHeredia));
                break;
            case "Guanacaste":
                listaCantones = @Html.Raw(Json.Serialize(Model.direccion.cantonesGuanacaste));
                break;
            case "Puntarenas":
                listaCantones = @Html.Raw(Json.Serialize(Model.direccion.cantonesPuntarenas));
                break;
            case "Limón":
                listaCantones = @Html.Raw(Json.Serialize(Model.direccion.cantonesLimon));
                break;
        }

        // Aquí añado la lista al combo
        listaCantones.forEach(function (canton) {
            var option = document.createElement("option");
            option.value = canton;
            option.text = canton;
            cantones.add(option);
        });
        actualizarDistritos();
    }

    function actualizarDistritos() {
        var provincia = document.getElementById("provincias").value;
        var canton = document.getElementById("cantones").value;
        var distritos = document.getElementById("distritos");

        distritos.innerHTML = ''; // Se limpia el ComboBox de distritos
        var listaDistritos = [];

        if (provincia == "San José") {
            switch (canton) {
                case "San José":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosSanJose));
                    break;
                case "Escazú":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosEscazu));
                    break;
                case "Desamparados":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosDesamparados));
                    break;
                case "Puriscal":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosPuriscal));
                    break;
                case "Tarrazú":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosTarrazu));
                    break;
                case "Aserrí":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosAserri));
                    break;
                case "Mora":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosMora));
                    break;
                case "Goicoechea":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosGoicoechea));
                    break;
                case "Santa Ana":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosSantaAna));
                    break;
                case "Alajuelita":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosAlajuelita));
                    break;
                case "Vázquez de Coronado":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosVazquezDeCoronado));
                    break;
                case "Acosta":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosAcosta));
                    break;
                case "Tibás":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosTibas));
                    break;
                case "Moravia":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosMoravia));
                    break;
                case "Montes de Oca":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosMontesDeOca));
                    break;
                case "Turrubares":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosTurrubares));
                    break
                case "Dota":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosDota));
                    break;
                case "Curridabat":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosCurridabat));
                    break;
                case "Pérez Zeledón":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosPerezZeledon));
                    break;
                case "León Cortés Castro":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosLeonCortesCastro));
                    break;

            } //Termina el switch
        }//Termina el if
        else if (provincia == "Alajuela") {
            switch (canton) {
                case "Alajuela":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosAlajuela));
                    break;
                case "San Ramón":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosSanRamon));
                    break;
                case "Grecia":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosGrecia));
                    break;
                case "San Mateo":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosSanMateo));
                    break;
                case "Atenas":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosAtenas));
                    break;
                case "Naranjo":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosNaranjo));
                    break;
                case "Palmares":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosPalmares));
                    break;
                case "Poás":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosPoas));
                    break;
                case "Orotina":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosOrotina));
                    break;
                case "San Carlos":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosSanCarlos));
                    break;
                case "Zarcero":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosZarcero));
                    break;
                case "Sarchí":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosSarchí));
                    break;
                case "Upala":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosUpala));
                    break;
                case "Los Chiles":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosLosChiles));
                    break;
                case "Guatuso":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosGuatuso));
                    break;
                case "Río Cuarto":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosRioCuarto));
                    break;
            }//Termina el switch
        }//Termina el if
        else if (provincia == "Cartago") {
            switch (canton) {
                case "Cartago":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosCartago));
                    break;
                case "Paraíso":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosParaíso));
                    break;
                case "La Unión":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosLaUnion));
                    break;
                case "Jiménez":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosJimenez));
                    break;
                case "Turrialba":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosTurrialba));
                    break;
                case "Alvarado":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosAlvarado));
                    break;
                case "Oreamuno":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosOreamuno));
                    break;
                case "El Guarco":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosElGuarco));
                    break;
            }
        }
        else if (provincia == "Heredia") {
            switch (canton) {
                case "Heredia":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosHeredia));
                    break;
                case "Barva":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosBarva));
                    break;
                case "Santo Domingo":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosSantoDomingo));
                    break;
                case "Santa Bárbara":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosSantaBarbara));
                    break;
                case "San Rafael":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosSanRafael));
                    break;
                case "San Isidro":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosSanIsidro));
                    break;
                case "Belén":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosBelen));
                    break;
                case "Flores":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosFlores));
                    break;
                case "San Pablo":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosSanPablo));
                    break;
                case "Heredia":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosHeredia));
                    break;
                case "Sarapiquí":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosSarapiqui));
                    break;
            }
        }

        else if (provincia == "Guanacaste") {
            switch (canton) {
                case "Liberia":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosLiberia));
                    break;
                case "Nicoya":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosNicoya));
                    break;
                case "Santa Cruz":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosSantaCruz));
                    break;
                case "Bagaces":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosBagaces));
                    break;
                case "Carrillo":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosCarrillo));
                    break;
                case "Cañas":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosCañas));
                    break;
                case "Abangares":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosAbangares));
                    break;
                case "Tilarán":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosTilarán));
                    break;
                case "Nandayure":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosNandayure));
                    break;
                case "La Cruz":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosLaCruz));
                    break;
                case "Hojancha":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosHojancha));
                    break;
            }
        }
        else if (provincia == "Puntarenas") {
            switch (canton) {
                case "Puntarenas":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosPuntarenas));
                    break;
                case "Esparza":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosEsparza));
                    break;
                case "Buenos Aires":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosBuenosAires));
                    break;
                case "Montes de Oro":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosMontesDeOro));
                    break;
                case "Osa":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosOsa));
                    break;
                case "Quepos":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosQuepos));
                    break;
                case "Golfito":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosGolfito));
                    break;
                case "Coto Brus":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosCotoBrus));
                    break;
                case "Parrita":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosParrita));
                    break;
                case "Corredores":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosCorredores));
                    break;
                case "Garabito":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosGarabito));
                    break;
            }
        }
        else {
            switch (canton) 
            {
                case "Limón":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosLimón));
                    break;
                case "Pococí":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosPococí));
                    break;
                case "Siquirres":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosSiquirres));
                    break;
                case "Talamanca":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosTalamanca));
                    break;
                case "Matina":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosMatina));
                    break;
                case "Guácimo":
                    listaDistritos = @Html.Raw(Json.Serialize(Model.direccion.distritosGuácimo));
                    break;

            }
        }
        // Aquí añado la lista al combo
        listaDistritos.forEach(function (distrito) {
            var option = document.createElement("option");
            option.value = distrito;
            option.text = distrito;
            distritos.add(option);
        });
        
    }
</script>


@if (Model.ErrorMensaje != null)
{
    <p style="color: red;">Error: @Model.ErrorMensaje</p>
}